# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
.last-package-update-day
*.sqlite
transient/
elpa/
melpa/
recentf
*.elc
("elpa/" "git" "status")

eshell/
.gitconfig
history
.lsp-*
*.eld
